
.App {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 225px 575px;
  background-color: #ecf0f1;
  border-radius: 20px;
}

button {
  width: 100px;
  height: 100px;
  margin: 20px;
  border-radius: 25px;
  font-size: 30px;
  border: none;
  background-color: #70a1ff;
}

